HOST=0.0.0.0
PORT=1337

APP_KEYS=m85kx0anSd97fdBEQhbNfg==,wbkQqL0FmwRr+JPQN8OssA==,ibtQ4LuOG0ZRAMMjAcSI4w==,AhmlBE+Rzb5tKbXa6FWMVQ==
API_TOKEN_SALT=oOMwT5mcCu6zI8QjmlomwDdCHmrRFJY+wYtifHkV39c=
ADMIN_JWT_SECRET=jxBkozW3j8biVzzWpQlgC0WfDPIWkiTrbtNjPOLfVck=
TRANSFER_TOKEN_SALT=rlIP3tC3BSoBk14yCxjQ5cl3shIqSGsp7vpD8XNniJ0=
JWT_SECRET=rV4YZu1Cn+UakBQtNspTW0Z3bCGpYUPZMJ6rxnNYRY8=

DATABASE_HOST=db.clqmmnauggoxlpabwqpj.supabase.co
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=5nJt5ncXdLb25XKe
DATABASE_SSL=true
