@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 19% 87%; /* #F7EFE2 */
    --foreground: 34 42% 9%; /* #231C0C */
    --text-color: 34 42% 9%; /* #231C0C */
    --primary-green: 128 17% 25%; /* #344C36 */
    --accent-red: 354 75% 53%; /* #EA2839 */
    --accent-brown: 28 44% 33%; /* #84592B */
    --beige-light: 36 20% 92%; /* #ECE3DA */
    --green-light: 63 45% 77%; /* #EAEDBD */
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Palatino Linotype", Palatino, Georgia, serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
